<template>
    <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-body">
                <notifications group="global"
                               position="bottom right"
                               :speed="300" />
                <h1>Login</h1>
                <p class="text-muted">Sign in to your IM account</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" class="form-control" placeholder="Username" v-model="credentials.username" />
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Password" v-model="credentials.password" />
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4" @click="submit()">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>The IM account entitles you to a certificate to use the IM network. You will have access to our wiki, issue tracker and dashboard. No default email subscriptions. You can cancel at any time.</p>
                  <button type="button" class="btn btn-primary active mt-3" @click="register()">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import auth from '../../auth'

  export default {
    name: 'Login',
    data () {
      return {
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },

    methods: {
      // ACHTUNG function arrow notation will redefine this and hide $router
      register: function () { this.$router.push('/pages/register') },
      submit: function () { auth.login(this, this.credentials) }
    }
  }
</script>
